.path {
    padding: 10px;
    margin: 10px;   
}

.faces {
    width: 100%;
    flex-direction: row;
    .face {
        border-radius: 50%;
        width: 100px;
        padding: 10px;
    }
}

.entities {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    height: 50%;
    .entity {
        border: 1px solid grey;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        
        .entity-preview {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            img {
                height: 90%;
                background-size: auto;
            }
            span {
                height: 10%;
            }
        }
    }
}