<div class="moduleChoosing">
    <div [routerLink]="['/home/entity']" matRipple matTooltip="Entity Management" class="module">
        <img src="https://i.pinimg.com/originals/71/e2/ff/71e2ff8e29f1fddb78b9f1015b94e4ed.png" alt="" srcset="">
    </div>
    <div [routerLink]="['/home/face-filter']" matTooltip="ML Filtering" class="module">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFueOb66mkdjk_FrOsnYVpzw7U3AwkhUOB5g&usqp=CAU" alt="" srcset="">
    </div>
    <div [routerLink]="['/home/user-group-management']" matRipple matTooltip="Users/Permissions Management(Coming Soon...)" class="module">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK6ddao67n8jP8x-wrO67NQiuQEEEiFLn80Q&usqp=CAU" alt="" srcset="">
    </div>
</div>