.mat-radio-button ~ .mat-radio-button {
    margin-left: 20px;
}

.radio-group {
    margin: 10px;
    padding: 10px;
}

.action {
    margin: 10px;
    padding: 10px;
    margin-top: 20px;
}

.content {
    width: 30vw;
    height: 15vh;
}

.form-field {
    width: 200px;
}