<button class="floating-action-button" mat-fab (click)="openEntityManagementDialog()">
    <mat-icon>add</mat-icon>
</button>

<div class="task-bar" style="display: flex; flex-direction: row;justify-content: space-between; padding-right:20px; padding-top: 10px; align-items: center;">

    <div class="path">
        <button mat-icon-button (click)="routePop()"><mat-icon>arrow_back</mat-icon></button>
        <span *ngFor="let route of path; let i = index" class="route" (click)="jumpToPath(i)">
            {{route.name}} >
        </span> 
    </div>
    <div class="filter">
        <mat-form-field appearance="fill">
            <mat-label>Filter Entitites</mat-label>
            <mat-select [(ngModel)]="filter" (ngModelChange)="onChangeSelect($event)">
              <mat-option value="MINE">
                Mine
              </mat-option>
              <mat-option value="SHARED">
                Shared
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>

<div class="entities">
    <div matRipple class="entity" *ngFor="let entity of entities" >
        <mat-icon (click)="pathChange(entity)" *ngIf="entity.type == entypes.FOLDER" class="folder-icon">folder</mat-icon>
        <mat-icon (click)="pathChange(entity)" *ngIf="(entity.type == entypes.FILE) && !entity.file.includes('image')" class="folder-icon">description</mat-icon>
        <mat-icon (click)="deleteEntity(entity._id)" color="warn" class="delete-icon">delete</mat-icon>
        <img class="image-preview" (click)="pathChange(entity)" *ngIf="(entity.type == entypes.FILE) && entity.file.includes('image')" src="{{entity.file}}"/>
        <div class="faces">
            <img class="face" *ngFor="let face of entity.primaryEntity" src="{{face.file}}"/>
        </div>
        <span>{{entity.name}}</span>
    </div>
</div>